<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Detalles</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">4Vientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled" role="tab"
                    aria-controls="disabled" aria-selected="false">2030</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#rrss" role="tab"
                    aria-controls="disabled" aria-selected="false">RRSS</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">

            <!--DETALLES EN GENERAL PÁGINA-->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h5 class="modal-title">{{ name }}</h5>
                <hr>
                <div class="row">
                    <div class="col-7">
                        <p class="m-2">{{ description }}</p>
                    </div>
                    <div class="col-5">
                        <p class="m-2"><span class="fw-bold">Horas totales:</span> {{ hours }}</p>
                        <p class="m-2"><span class="fw-bold">Tipo de iniciativa:</span>
                            {{ iniciativeType }}</p>
                        <p class="m-2"><span class="fw-bold">Curso:</span>
                            2020-2021</p>
                        <p class="m-2"><span class="fw-bold">Inicio-fin:</span>
                            20/2/2020 - 20/2/2021</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-danger ms-2" data-bs-dismiss="modal" (click)="deleteIniciative($event)">Borrar</button>
                </div>
            </div>

            <!--CUATROVIENTOS PÁGINA-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                @if (this.degrees.length != 0){
                <h5 class="modal-title d-flex justify-content-center">
                    Ciclos y módulos participantes:
                </h5>
                <hr>
                <div class="row scrollable-container m-3">
                    <div class="card p-0" *ngFor="let dgree of degreeCards">
                        <div class="card-header">
                            {{ dgree.name }}
                        </div>
                        <div class="card-body">
                            <div class="card mt-2" *ngFor="let module of dgree.modulesD">
                                <div class="card-header" [style]="{'background-color': this.generateColor()}">
                                    {{ module.Name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                @else {
                <p class="modal-title d-flex justify-content-center mb-5">
                    No participa ningún módulo
                </p>
                }
                @if(this.teachers.length != 0){
                <h5 class="modal-title d-flex justify-content-center mt-3">
                    Profesores participantes:
                </h5>
                <hr>
                <div class="row scrollable-container ms-3 mb-5">
                    <div class="card p-0 m-2" *ngFor="let teacher of teachers">
                        <div class="m-3 text-center d-flex justify-content-center">
                            {{ teacher.Name }}
                        </div>
                    </div>
                </div>
                }
                @else {
                <p class="modal-title d-flex justify-content-center mb-5">
                    No participa ningún profesor
                </p>
                }
            </div>


            <!-- 2030 PÁGINA -->
            <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">
                <h5 class="modal-title d-flex justify-content-center mt-3">
                    ODSs relacionados:
                </h5>
                <hr>

                @if(this.odsList.length != 0){
                <!-- Contenedor de imágenes -->
                <div class="row scrollable-container m-3 mb-5">
                    <img *ngFor="let ods of odsList" src="odsIcons/{{ods.Id}}.png" alt="Foto ODS {{ods.id}}"
                        class=" rounded m-2 mb-4" style="width: 11%; height: 13%; cursor: pointer;"
                        (click)="this.selectODS(ods.id)">
                </div>
                }
                @else {
                <p class="modal-title d-flex justify-content-center mb-5">
                    No pertenece a ningun ODS
                </p>
                }

                <!-- Contenedor de la imagen grande y la información -->
                <div class="container mt-4" *ngIf="this.showDetailOds">
                    <div class="row">
                        <!-- Imagen grande (50% del ancho) -->
                        <div class="col-md-4 text-center">
                            <img *ngIf="selectedODS" [src]="selectedImage" alt="ODS Seleccionado"
                                class="img-fluid rounded shadow-lg fade show" style="width: 100%;">
                        </div>

                        <!-- Nombre y metas (50% del ancho, alineadas en columna) -->
                        <div class="col-md-6 d-flex flex-column align-items-start">
                            <!-- Nombre del ODS -->
                            <h4 class="text-primary fade show">{{ selectedODS?.description }}</h4>

                            <!-- Lista de metas (debajo del nombre) -->
                            @if(this.selectedGoals.length != 0){
                            <h5 class="text-secondary mt-3">Metas relacionadas:</h5>
                            <ul class="list-group w-100">
                                <li *ngFor="let meta of selectedGoals" class="list-group-item fade show">
                                    <div class="row">
                                        <div class="col-1">

                                        </div>
                                        <div class="col-11">
                                            {{ meta.description }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            }
                            @else {
                            <p class="modal-title d-flex justify-content-center mb-5">
                                No pertenece a ninguna meta
                            </p>}
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn-close" aria-label="Close"
                                (click)="closeODS($event)"></button>
                        </div>
                    </div>
                </div>
            </div>


            <!--REDES SOCIALES PÁGINA-->
            <div class="tab-pane fade" id="rrss" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container mt-4">
                    <h5 class="modal-title d-flex justify-content-center">
                        Links en las Redes Sociales:
                    </h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 mb-3" *ngFor="let dif of difusions">
                            <div class="card shadow-sm">
                                <div class="card-header d-flex align-items-center">
                                    <h5 class="mb-0">{{ dif.Type }}</h5>
                                </div>
                                <div class="card-body text-center">
                                    <a [href]="dif.Link" target="_blank" class="btn btn-primary w-100">
                                        Ver Publicación <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>