<div class="row gy-4" [formGroup]="detailsForm">
    <div class="col-6">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre de la iniciativa" [(ngModel)]="this.details!.name">
    </div>

    <div class="col-6">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" class="form-control" formControlName="description" placeholder="Descripción de la iniciativa" [(ngModel)]="this.details!.description">
    </div>
    
    <div class="col-6">
        <label for="startDate" class="form-label">Fecha Inicio</label>
        <input type="date" class="form-control" formControlName="startDate" [value]="this.details!.startDate | formatDate:'yyyy-MM-dd'" [(ngModel)]="this.details!.startDate">
    </div>

    <div class="col-6">
        <label for="endDate" class="form-label">Fecha Fin</label>
        <input type="date" class="form-control" formControlName="endDate" [(ngModel)]="this.details!.endDate">
    </div>

    <div class="col-6">
        <label for="hours" class="form-label">Horas</label>
        <input type="number" class="form-control" formControlName="hours" min="1" [(ngModel)]="this.details!.hours">
    </div>

    <div class="col-6">
        <label for="type" class="form-label">Tipo</label>
        <select class="form-select" formControlName="iniciativeType" [(ngModel)]="this.details!.iniciativeType">
            <option value="proyecto">Proyecto</option>
            <option value="charla">Charla</option>
            <option value="excursion">Excursión</option>
        </select>
    </div>

    <div class="col-6">
        <label for="academicYear" class="form-label">Curso</label>
        <input type="text" class="form-control" formControlName="academicYear" [(ngModel)]="this.details!.academicYear">
    </div>
</div>
