<div class="modal" id="addModuleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
        <div class="modal-content custom-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añade un Módulo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="goalName" name="teacherName" placeholder="Busca por grado" [(ngModel)]="searchDegree" (input)="this.filter()">
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="goalName" name="teacherName" placeholder="Busca por nombre" [(ngModel)]="searchModule" (input)="this.filter()">
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Ciclo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody class="scrollable-tbody-form">
                              <tr *ngFor="let module of filtredModules" >
                                <td>{{module.degree}}</td>
                                <td>{{module.name}}</td>
                                <td><img src="generic-icons/pencil.svg" alt="edit" class="pointer ms-5" (click)="setEditMode(module.id)"></td>
                                <td><img src="generic-icons/borrar.png" alt="delete" class="pointer ms-5" (click)="selectedId=module.id; editMode=null; startDeleteCountdown()" style="height:20px"></td>
                              </tr>
                              <p *ngIf="filtredModules.length == 0">
                                No hay metas (con esos filtros)
                              </p>
                            </tbody>
                          </table>
                    </div>
                    <div class="col-5" *ngIf="editMode!=null">
                        <h5 class="modal-title">Añade un Módulo</h5>
                        <hr>
                        <form action="" [formGroup]="moduleForm" (ngSubmit)="submit()">
                            <div class="mb-3">
                                <label for="moduleName" class="form-label">Nombred el módulo</label>
                                <input type="text" class="form-control" id="moduleName" aria-describedby="módulo" formControlName="name">
                                @if(moduleForm.get('name')?.invalid && (moduleForm.get('name')?.dirty || moduleForm.get('name')?.touched)) {
                                    <div class="alert alert-danger p-2" role="alert">
                                        El nombre del módulo es obligatorio.
                                    </div>
                                }
                            </div>
        
                            <div class="mb-3">
                                <label for="degree" class="form-label">Ciclo</label>
                                <select type="text" class="form-select" id="degree" aria-describedby="ciclo" formControlName="degree">
                                    @for(degree of degreeList; track $index){
                                    <option value="{{degree.id}}">{{degree.name}}</option>
                                    }
                                </select>
                                @if(moduleForm.get('degree')?.invalid && (moduleForm.get('degree')?.dirty || moduleForm.get('degree')?.touched)) {
                                    <div class="alert alert-danger p-2" role="alert">
                                        El ciclo es obligatorio.
                                    </div>
                                }
                            </div>
        
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="reset(); editMode = false">{{editMode ? 'Cancelar' : 'Limpiar'}}</button>
                                @if(moduleForm.valid) {
                                    <button type="submit" class="btn btn-primary">{{editMode ? 'Editar' : 'Crear'}}</button>
                                } @else {
                                    <button type="submit" class="btn btn-primary" disabled>{{editMode ? 'Editar' : 'Crear'}}</button>
                                }
                            </div>
                        </form>
                    </div>
                    <div class="col-5" *ngIf="editMode==null">
                        <h5>
                            Borrar Módulo: {{selectedModule?.name}}
                        </h5>
                        <hr>
                        <p>
                            Recuerda que las entidades que se borren no se podrán recuperar en ningún momento y no podrán ser utilizadas, aún que a la hora de mostrar, sí aparecerán si están asociadas a una entidad existente.
                        </p>
                        <button type="button" class="btn btn-danger p-2" (click)="delete()"
                                [disabled]="!deleteButtonEnabled">
                          {{ deleteButtonEnabled ? 'Confirmar' : 'Se habilita en ' + deleteCountdown + 's' }}
                        </button>
                        <button type="button" class="btn btn-secondary ms-4 p-2" (click)="editMode = false">
                            Cancelar 
                     </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
