<div class="row gy-4 scrollable-container-form" [formGroup]="odsForm">
    <!-- AGREGAR ODS -->
    <div class="col-6">
        <label for="ods" class="form-label">ODS</label>
        <div class="row">
            <div class="col">
                <select class="form-select" id="ods" formControlName="ods">
                    <option value="-1" disabled selected>Selecciona un Ods</option>
                    @for (ods of odsList; track ods){
                        <option value="{{ods.Id}}">{{ods.Id}}. {{ods.description}}</option>
                    }
                </select>
            </div>

            @if(odsForm.get('ods')?.value > 0){
                <div class="col-2">
                    <button type="button" class="btn btn-primary" (click)="addOds()">Añadir</button>
                </div>
            }
            
        </div>
    </div>

    <!-- AGREGAR META -->
    <div class="col-6">
        @if(selectedOds.length > 0 && this.odsSelected != null){
            <label for="goals" class="form-label">Metas</label>
            <div class="row">
                <div class="col">
                    <select class="form-select" id="goals" formControlName="goals">
                        <option value="-1" disabled selected>Selecciona una meta para '{{clickedOds}}'</option>
                        @for (goal of goalList; track goal){
                            <option value="{{goal.id}}">{{goal.description}}</option>
                        }
                    </select>
                </div>

                @if(odsForm.get('goals')?.value > 0){
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" (click)="addGoal()">Añadir</button>
                    </div>
                }
            </div>
        }
    </div> 

    <!-- ODS SELECCIONADOS -->
    <div class="col-6 py-3 rounded">
        <div class="row mt-2">
            @for(ods of selectedOds; track ods){
                <div class="col-3 mb-4">
                    <button type="button" class="btn btn-outline-danger mb-1 w-100 p-0" (click)="removeOds(ods)">x</button>
                    <img src="odsIcons/{{ods.Id}}.png" alt="" class="rounded img-fluid imgOds" style="cursor: pointer;" (click)="setGoalList(ods)">
                </div>
            }
            
        </div>

        @if(selectedOds.length > 0){
            <div class="row mt-2">
                <div class="col">
                    <button type="button" class="btn btn-outline-primary m-0" (click)="clearOds()">Eliminar Ods</button>
                </div>
            </div>
        }
    </div> 
    
    <!-- METAS SELECCIONADAS -->
    <div class="col-6">
        @if(selectedOds.length > 0){
            @for(ods of selectedOds; track ods){
                <div class="row m-0 mt-4 p-2 border  rounded-3">
                    <p class="fs-4">{{ods.Description}}</p>
                    @for(goal of selectedGoals; track goal){
                        @if(goal.ods === ods.Id){
                            <div class="row m-0">
                                <div class="col">
                                    <p class="small">+ {{goal.description}}</p>  
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-outline-danger mb-1 w-100 p-0" (click)="removeGoal(goal, ods)">x</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            @if(selectedGoals.length > 0){
                <button type="button" class="btn btn-outline-primary mt-4" (click)="clearGoals()">Eliminar Metas</button>
            }
        }
        
    </div>
</div>

<div class="d-flex justify-content-center align-items-center mt-5 pt-5">
    <app-loader *ngIf="isLoading" [function]="'Cargando datos'" class="mt-5" />
</div>