<app-filter (filterChanged)="onFilterChanged($event)" />

@if(this.iniciativeList.length != 0){

<div class="row m-4 gy-4">
    <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12" (click)="createIniciative()" data-bs-toggle="modal"
        data-bs-target="#customModal">

        <div class="row h-100">
            <div class="col-6">
                <div class="card bg-success text-white text-center shadow rounded-4 h-100 pointer" >
                    <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
                        <h5 class="card-title mb-3 mb-4">Create Iniciative</h5>
                        <img src="generic-icons/plus.png" alt="add" style="height: 100px !important; width: auto !important;">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-primary text-white text-center shadow rounded-4 h-100 pointer" (click)="cloneIniciative()" [style]="{'cursor': 'pointer'}">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center h-100">
                        <h5 class="card-title mb-3 mb-4">Clone Iniciative</h5>
                        <img src="generic-icons/copy.svg" alt="add" style="height: 100px !important; width: auto !important;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @for(iniciative of iniciativeList; track $index){
    <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12" (click)="setIdIniciativa($event, iniciative.id)"
        data-bs-toggle="modal" data-bs-target="#customModal" [style]="{'cursor': 'pointer'}">
        <app-iniciative-card [iniciative]="iniciative"></app-iniciative-card>
    </div>
    }
</div>

}@else {

<div class="row row-cols-2 gy-4 d-flex justify-content-center">
    <div class="row d-flex justify-content-center text-secondary  mt-5">
        <div class="col-4">
            <img src="generic-icons/no-hay.png" alt="" class="img-fluid">
        </div>
        <div class="col-8 d-flex align-items-center">
            <h1>No se han encontrado iniciativas</h1>
        </div>
    </div>
</div>
}

<app-modal />

<app-modal-load *ngIf="loading" />