<div class="modal" id="addDegreeModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
        <div class="modal-content custom-modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gestión de Ciclos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
            </div>
            <div class="modal-body overflow-auto">

                <div class="row">
                    <div class="col-7">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col" class="text-center">Cant. Módulos</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody class="scrollable-tbody-form">
                              <tr *ngFor="let degree of degrees">
                                <td>{{degree.name}}</td>
                                <td><p class="text-center">
                                    {{getModulesCount(degree.id)}}
                                </p></td>
                                <td><img src="generic-icons/pencil.svg" alt="edit" class="pointer ms-5" (click)="setEditMode(degree.id)"></td>
                                <td><img src="generic-icons/borrar.png" alt="delete" class="pointer ms-5" (click)="selectedId=degree.id; editMode=null; startDeleteCountdown()" style="height:20px"></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="col-5" *ngIf="editMode!=null">
                        <h5 class="modal-title">{{editMode ? 'Editar Ciclo' : 'Crear Ciclo'}}</h5>
                        <hr>
                        <form action="" [formGroup]="degreeForm" (ngSubmit)="submit()">
                            <div class="mb-3">
                                <label for="degreeName" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="degreeName" aria-describedby="ciclo" formControlName="name">
                                @if(degreeForm.get('name')?.invalid && (degreeForm.get('name')?.dirty || degreeForm.get('name')?.touched)) {
                                    <div class="alert alert-danger p-2" role="alert">
                                        El nombre del ciclo es obligatorio.
                                    </div>
                                }
                            </div>
        
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="reset()">{{editMode ? 'Cancelar' : 'Limpiar'}}</button>
                                @if(degreeForm.valid) {
                                    <button type="submit" class="btn btnc-primary">{{editMode ? 'Editar' : 'Crear'}}</button>
                                } @else {
                                    <button type="submit" class="btn btnc-primary" disabled>{{editMode ? 'Editar' : 'Crear'}}</button>
                                }
                            </div>
                        </form>
                    </div>
                    <div class="col-5" *ngIf="editMode==null">
                        <h5>
                            Borrar ciclo: {{this.selectedDegree!.name}}
                        </h5>
                        <hr>
                        <p>
                            Recuerda que las entidades que se borren no se podrán recuperar en ningún momento y no podrán ser utilizadas, aún que a la hora de mostrar, sí aparecerán si están asociadas a una entidad existente.
                        </p>
                        <button type="button" class="btn btn-danger p-2"
                                [disabled]="!deleteButtonEnabled" (click)="delete()">
                          {{ deleteButtonEnabled ? 'Confirmar' : 'Se habilita en ' + deleteCountdown + 's' }}
                        </button>
                        <button type="button" class="btn btn-secondary ms-4 p-2" (click)="editMode = false">
                            Cancelar 
                     </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
