<div class="modal" id="addDegreeModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añade un Ciclo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reset()"></button>
            </div>
            <div class="modal-body">

                <form action="" [formGroup]="degreeForm" (ngSubmit)="submit()">
                    <div class="mb-3">
                        <label for="degreeName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="degreeName" aria-describedby="ciclo" formControlName="name">
                        @if(degreeForm.get('name')?.invalid && (degreeForm.get('name')?.dirty || degreeForm.get('name')?.touched)) {
                            <div class="alert alert-danger p-2" role="alert">
                                El nombre del ciclo es obligatorio.
                            </div>
                        }
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reset()">Close</button>
                        @if(degreeForm.valid) {
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                        } @else {
                            <button type="submit" class="btn btn-primary" disabled>Guardar</button>
                        }
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
