<h3 class="m-2">Editando iniciativa</h3>
<form class="m-4" [formGroup]="formAddIniciative" (ngSubmit)="onSubmit()">
    <div class="row row-cols-4 text-center">
        @for(section of sections; track section){
        <div class="col mb-2" (click)="chooseSection(section.id)" style="cursor: pointer;">
            {{ section.label }}
        </div>
        }
    </div>

    @if(currentSection === 1){
        <div class="row m-0 h-100">
            <div class="col-3 p-0 h-100">
                <div class="row m-0 h-100 flex-column">
                    <div class="px-3 py-2 pointer pointer">
                        Datos Generales
                    </div>
                    <div></div>
                    
                    <div class="col p-0">
                        <div class="list-group rounded-start-0 rounded-bottom-0 bg-primary-subtle h-100">
                            <div class="list-group-item border-0 bg-primary-subtle pointer" (click)="chooseSection(2)">
                                4Vientos
                            </div>
                            <div class="list-group-item border-0 bg-primary-subtle pointer" (click)="chooseSection(3)">
                                ODS
                            </div>
                            <div class="list-group-item border-0 bg-primary-subtle pointer" (click)="chooseSection(4)">
                                RRSS
                            </div>
                            <div class="px-3 pb-3 border-0 bg-primary-subtle h-100 d-flex flex-column justify-content-end mt-5">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-dark" (click)="next()">></button>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>                
            </div>

            <div class="col-9 p-4">
                <div class="row p-2 g-4">
                    <h1 class="display-6">Rellena los Datos Generales</h1>
                    <app-form-details [details]="detailsI"></app-form-details>
                </div>
            </div>
        </div>
    }

    @if(currentSection === 2){
    <div class="row mb-4">
        <div class="col-3"></div>
        <div class="col-3" style="height: 1px; background-color: #19255A;"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>

    <app-form-academic [academicForm]="Academic" [academic]="academicI"/>


    }
    @if(currentSection === 3){
    <div class="row mb-4">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3" style="height: 1px; background-color: #19255A;"></div>
        <div class="col-3"></div>
    </div>

    <app-form-ods [odsForm]="Ods"></app-form-ods>

    }
    @if(currentSection === 4){
    <div class="row mb-4">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3" style="height: 1px; background-color: #19255A;"></div>
    </div>

    <app-form-difusion [difusionForm]="Difusion" [difusionR]="difusionI"></app-form-difusion>


    }
    <!--ATRÁS || SIGUIENTE-->
    <div class="row justify-content-between mt-5">
        @if(this.currentSection != 1){
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary" (click)="prev()">
                <</button>
        </div>
        }
        @else {
        <div class="row justify-content-end mt-5">
            <div class="col-2 text-end p-0">
                <button type="button" class="btn btn-outline-primary" (click)="next()">></button>
            </div>
        </div>
        }
        @if(this.currentSection != 4 && this.currentSection != 1){
        <div class="col-2 text-end p-0">
            <button type="button" class="btn btn-outline-primary" (click)="next()">></button>
        </div>
        }
        @if(this.currentSection === 4){
        <button type="submit" class="btn btn-primary mt-5" data-bs-toggle="modal"
            data-bs-target="#successModal" >Guardar</button>
        }
    </div>

</form>



<!--TODOHacer un Componente para este modal-->
<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="fs-4">Iniciativa Creada Correctamente!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>