<div class="row" [formGroup]="academicForm">
    <!--Profesores-->
    <div class="row">
        <div class="col-12">
            <p>Profesorado</p>
            <hr>
        </div>
        
        <div class="container" formArrayName="teachers">
            @for(teacher of Teachers.controls; track teacher; let index = $index){
                <div class="row" formGroupName="{{index}}">
                    <p>{{index+1}}.</p>
                    <div class="col">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Miguel Godyena" formControlName="name">
                    </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="removeTeacher(index)">Eliminar Profesor</button>
            }
            <button type="button" class="btn btn-primary" (click)="addTeacher()">Añadir Profesor</button>
        </div>
    </div>

    <!--Módulos-->
    <div class="row mt-5">
        <div class="col-12">
            <p>Módulos</p>
            <hr>
        </div>
        
        <div class="container" formArrayName="modules">
            @for(module of Modules.controls; track module; let index = $index){
                <div class="row" formGroupName="{{index}}">
                    <p>{{index+1}}.</p>
                    <div class="col-6">
                        <label class="form-label">Ciclo</label>
                        <select class="form-select" formControlName="idCiclo">
                            <option value="-1" disabled selected>Selecciona un ciclo</option>
                            @for(degree of degreeList; track degree){
                                <option value="{{degree.Id}}">{{degree.Name}}</option>
                            }
                        </select>
                    </div>

                    <div class="col-6">
                        <label class="form-label">Nombre del módulo</label>
                        <input type="text" class="form-control" placeholder="Acceso a Datos" formControlName="name">
                    </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="removeModule(index)">Eliminar Módulo</button>
            }
            <button type="button" class="btn btn-primary" (click)="addModule()">Añadir Módulo</button>
        </div>
    </div>
</div>