<div class="row mx-0 mt-5 px-5">
    <h1 class="text-center mb-4">Indicadores 4V</h1>
</div>

<div class="row m-0">
    <div class="col-2">
        <select class="form-select" name="" id="">
            <option value="" disabled selected>Selecciona un curso</option>
            <option value="">2020-2021</option>
            <option value="">2020-2021</option>
            <option value="">2020-2021</option>
        </select>
    </div>
</div>

<div class="row mx-0 mt-4 px-5">
    <div echarts [options]="option" class="demo-chart">
    </div>
</div>

<div class="container">
    
</div>

