
@use './styles/variables' as var;

/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}

.scrollable-container-form{
    max-height: 60vh; /* Ajusta según el diseño */
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px; /* Para evitar que el scroll tape el contenido */
}

.scrollable-container-form::-webkit-scrollbar {
    width: 8px;
    transition: width 0.5s ease;
    /* Ancho de la barra */
}

.scrollable-container-form::-webkit-scrollbar-track {
    background: #00000013;
    /* Color del fondo de la barra */
    border-radius: 5px;
    /* Bordes redondeados */
}

.scrollable-container-form::-webkit-scrollbar-thumb {
    background: #888;
    /* Color del "pulgar" (la parte que se mueve) */
    border-radius: 5px;
}

.scrollable-container-form::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color cuando pasas el mouse */
}

.bgc-primary {
    background-color: var.$primary !important;
}
.bgc-secondary {
    background: var.$secondary !important;
}
.success-color {
    background: var.$success !important;
}

.warning-color {
    background: var.$warning !important;
}