<!-- Modal personalizado -->
<div class="custom-modal-overlay " *ngIf="showModal">
    <div class="modal-content custom-modal-width" >
        <ng-container *ngIf="contentType === 'detail'">
            <app-iniciative-detail (delete)="delete()"></app-iniciative-detail>
        </ng-container>
        <ng-container *ngIf="contentType === 'form'">
            <app-form-add-iniciative [iniciative]="iniciative"></app-form-add-iniciative>
        </ng-container>
        <ng-container *ngIf="contentType === 'delete'">
            <app-confirm-modal></app-confirm-modal>
        </ng-container>
    </div>
</div>