<div class="container border-0 p-0 card rounded-4 bgc-secondary shadow h-100 pointer">
    <div class="row mx-0 rounded-4 h-100 overflow-hidden">
        <div class="col-10 d-flex flex-column justify-content-between rounded-4 bg-light p-4">
           <div class="container p-0 m-0">
                <!--Titulo--> 
                <div class="row mx-0">
                    <div class="col-10 ps-0">
                        <p class="fs-4 m-0">
                            {{iniciative.name}}
                        </p>
                    </div>
                    <div class="col p-0 d-flex justify-content-end align-items-top">
                        <p class="small m-0 d-flex align-items-center">{{iniciative.schoolYear}}</p>
                    </div>
                </div>

                <div class="row mx-0 mb-4 p-0">
                    @if(iniciative.endDate){
                        <p class="m-0 small p-0 text-secondary">{{iniciative.startDate | formatDate:'d MMM, yyyy'}} - {{iniciative.endDate | formatDate:'d MMM, yyyy'}}</p>  
                    }@else {
                        <p class="m-0 small p-0 text-secondary">{{iniciative.startDate | formatDate:'d MMM, yyyy'}}</p> 
                    }
                    
                </div>

                <!--Descripción-->
                <div class="row mx-0">
                    <div class="col p-0">
                        <p>
                            {{description1Line}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mx-0">
                <div class="col d-flex align-items-center p-0">
                    <img class="me-1" src="/generic-icons/time.svg" alt="" style="width: 20px; height:20px">
                    <p class="m-0">{{iniciative.hours}} horas</p>
                </div>
                <div class="col d-flex justify-content-end align-items-center p-0">
                    <img class="me-1" src="/generic-icons/gear.svg" alt="" style="width: 20px; height:20px">
                    <p class="m-0">{{iniciative.type}}</p>
                </div>
            </div>
        </div>

        <div class="col-2 justify-content-center py-4 px-0 scrollable-container mt-1 mb-1">
            <div class="row m-0 text-center">
                    @for(ods of this.iniciative.ods; track $index){
                        <div class="col mb-2 p-0 px-2">
                            <img src="odsIcons/{{ods.id}}.png" alt="foto ods {{ods.id}}" style="width: 50px; height: 50px" class="rounded">
                        </div>
                    }
            </div>
            
        </div>
    </div>
</div>

