.scrollable-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;  /* Evita que los elementos se acomoden en varias filas */
    overflow-y: auto;   /* Agrega desplazamiento horizontal si hay desbordamiento */
    gap: 10px;          /* Espacio entre las tarjetas */
    scrollbar-width: thin; /* Para navegadores como Firefox */
    scrollbar-color: #ccc transparent; /* Color de la barra de desplazamiento */
}

.scrollable-container::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: #888; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}